@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-5">
    <table class="table table-bordered w-auto">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Thejas H V</td>
            <td><a href="mailto:tejashv.1998@gmail.com">tejashv.1998@gmail.com</a></td>
        </tr>
        <tr>
            <td>Varshitha A N</td>
            <td><a href="mailto:#">#</a></td>
        </tr>
        <tr>
            <td>Vidyesh V Holla</td>
            <td><a href="mailto:#">#</a></td>
        </tr>
        
        </tbody>
    </table>
</div>